.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(produk.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#background-image p {
    color: white;
}

#background-image h1 {
    color: white;
    font-weight: bold;
}

.logo {
    width: 55px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
}

.menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(produ_keunggulan.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.anti {
    color: red;
}

.sticker-container {
    display: inline-block;
    padding: 10px; 
    margin: 20px;
    position: relative;
}

.sticker-img {
    max-width: 200px;
    height: auto;
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

li:hover {
    background-color: rgb(162, 138, 20);
}